services:
  rate_limiter:
    restart: "unless-stopped"
    image: rate_limiter:latest
    build:
      context: ./rate_limiter
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - redis
    environment:
      - RL_REDIS_HOST=redis
      - RL_REDIS_PORT=6379
      - RL_OTLP_HOST=http://telemetry:4318
      - RUST_LOG=info
    command: ["./rate_limiter", "run"]

  rate_limiter_as_config_loader:
    image: rate_limiter:latest
    build:
      context: ./rate_limiter
      dockerfile: Dockerfile
    depends_on:
      - redis
    environment:
      - RL_REDIS_HOST=redis
      - RL_REDIS_PORT=6379
      - RUST_LOG=debug
    command: ["rate_limiter", "load", "--file", "/rules.yaml"]
    volumes:
      - ./rules.example.yaml:/rules.yaml
    
          

  redis:
    restart: always
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data


  nginx:
    image: nginx
    container_name: nginx
    depends_on:
      - rate_limiter
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"
    environment:
      - NGINX_PORT=80

  telemetry:
    image: otel/opentelemetry-collector-contrib
    container_name: telemetry
    ports:
      - "4317:4317"
      - "4318:4318"
    volumes:
      - ./telemetry/otel-config.yaml:/etc/otel-collector-config.yaml
    command: ["--config=/etc/otel-collector-config.yaml"]

  prometheus:
    privileged: true
    container_name: prometheus
    restart: unless-stopped
    image: prom/prometheus:v3.2.1
    command:
      - --web.enable-otlp-receiver
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./telemetry/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    depends_on:
      - prometheus
    privileged: true
    container_name: grafana
    restart: unless-stopped
    ports:
      - "4000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./telemetry/grafana-provisioning:/etc/grafana/provisioning/:ro


    

volumes:
  redis-data:
  prometheus-data:
  grafana-data:

