receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  debug:
    verbosity: detailed
  otlphttp:
    metrics_endpoint: "http://prometheus:9090/api/v1/otlp/v1/metrics"
    logs_endpoint: "http://loki:3100/otlp/v1/logs"
    tls:
      insecure: true
    retry_on_failure:
      enabled: true


service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      exporters: [debug, otlphttp]
    logs:
      receivers: [otlp]
      exporters: [debug]